<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Device</title>
  <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
  <script src="http://codemirror.net/lib/codemirror.js"></script>
  <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
  <script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
  <script>
    window.onload = function () {
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: "application/json",
        lineNumbers: true,
        matchBrackets: true
      });
    }
  </script>

</head>

<body>

  <h1>Device:
    <span><%= device.deviceId %></span>
  </h1>

  <section>
    <h2>Information</h2>
    <div>
      <label for="deviceId"><span>deviceId: </span></label><span><%= device.deviceId %></span>
    </div>
    <div>
      <label for="devicetype"><span>devicetype: </span></label><span><%= device.devicetype %></span>
    </div>
    <div>
      <label for="physicalId"><span>physicalId: </span></label><span><%= device.physicalId %></span>
    </div>
    <div>
      <label for="active"><span>physicalId: </span></label><span><%= device.physicalId %></span>
    </div>
    <div>
      <label for="createdAt"><span>createdAt: </span></label><span><%= device.createdAt %></span>
    </div>
    <div>
      <label for="updatedAt"><span>updatedAt: </span></label><span><%= device.updatedAt %></span>
    </div>
    <div>
      <label for="lastPing"><span>lastPing: </span></label><span><%= device.lastPing.toString() %></span>
    </div>
    <div>
      <label for="relatedDevices"><span>relatedDevices: </span></label>
      <% if (device.relatedDevices && device.relatedDevices.length) { %>
        <ul>
          <% device.relatedDevices.forEach(function(relDevice){ %>
            <li>
              <%= relDevice %>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
          <span>[ ]</span>
          <% } %>
    </div>
    <div>
      <label for="users"><span>users: </span></label>
      <% if (device.users && device.users.length) { %>
        <ul>
          <% device.users.forEach(function(user){ %>
            <li>
              <%= JSON.stringify(user) %>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
          <span>[ ]</span>
          <% } %>
    </div>
  </section>

  <section>
    <h2>State</h2>
    <div>
      <% if(typeof err !== 'undefined') { %>
        <p id="error">
          <%= locals.err.toString() %>
        </p>
        <% } %>
          <form action="/" method="post">
            <label for="state"><span>custom:</span></label>
            <textarea id="code" type="text" wrap="off" name="state"><%- JSON.stringify(device.state, null, 2) %></textarea>
            <br>
            <input type="submit" value="submit" />
            </br>
          </form>
    </div>
  </section>

  <section>
    <h2>RAW</h2>
    <div>
      <label for="raw">  <span>deviceObject: </span></label>
      <pre><%= JSON.stringify(device._deviceObject, null, 2) %></pre>
    </div>
  </section>

</body>

</html>
